[class*="body"]{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    

}

.first{
    font-size: 40px;
    border-radius: 10px;
    background-color: rgba(175, 245, 46, 0.692);
    left:50%;
    color :rgb(0, 0, 0);
    text-align: center;
}

[class*="nav"]{
    padding-right: 20px;
    gap: 15px;
    align-items: center;
    display: flex;
    justify-content:flex-end;
    background-color: rgba(255, 255, 255, 0.411);
    height:50px;
    border-radius: 10px;
    
}



[class^="link"]{
    font-weight: bold; 
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align:center;
    align-content: center;
    font-size: 15px;
    border:2px solid black;
    height:25px;
    width:70px;
    border-radius:10px;
    background-color: rgba(20, 139, 243, 0.678);
}

[class^=link]:hover{
    transform:scale(1.1);
    height: 35px;
    color:blue;
    font-size: 15px;
    font-weight: bold; 
    text-transform: uppercase;
    background-color: rgb(21, 231, 116);
    transition: ease-in-out 0.3s;
}


.link_placement_section:hover{
    height: auto;
    color:blue;
    font-size: 15px;
    font-weight: bold; 
    text-transform: uppercase;
    background-color: rgb(21, 231, 116);
    transition: ease-in-out 0.3s;
}

.link_download_routines:hover{
    height:35px;
    color:blue;
    font-size: 15px;
    font-weight: bold; 
    text-transform: uppercase;
    background-color: rgb(21, 231, 116);
    transition: ease-in-out 0.3s;
}


.link_placement_section{
width:120px;
}
.link_download_routines{
    width:130px;
}

.img{
    border: 3px solid black;
    height: 200px;
    width: 300px;
    border-radius: 10px;
    
}

.campus_nav{
    background-color: rgba(127, 255, 212, 0.479);
}

.download_routines{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.caption_image{
    display: inline-block;
    margin: 10px;
    align-items: baseline;
    flex-direction: column;
}

.figcaption{
    text-align: center;
    font-size: 15px;
    font-weight: bold; 
    color: rgb(0, 0, 0);
    padding: 5px;
    text-transform: uppercase;
}

.icon{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}