.body {
    background-image: url('/images/campus.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    

}

.first{
    font-size: 40px;
    border-radius: 10px;
    background-color: rgba(175, 245, 46, 0.692);
    left:50%;
    color :rgb(0, 0, 0);
    text-align: center;
}

.nav{
    align-items: center;
    display: flex;
    justify-content:flex-end;
    background-color: rgba(255, 255, 255, 0.411);
    height:50px;
    border-radius: 10px;
    
}



.link{
    text-align:center;
    align-content: center;
    font-size: 15px;
    border:2px solid black;
    height:25px;
    width:70px;
    border-radius:10px;
    background-color: rgba(20, 139, 243, 0.678);
}

.link:hover{
    height:30px;
    width:80px;
    color:blue;
    font-size: 15px;
    font-weight: bold; 
    text-transform: uppercase;
    background-color: rgb(21, 231, 116);
    transition: ease-in-out 0.3s;
}

.link .placement{
width:200px;
}

